@{
    ViewData["Title"] = "Supply";
}

<body>
<main>
    <section class="mainBody">
        <div class="row">
            <div class="title"><h1>Dostawy</h1></div>
            <div class="col-sm-12">

                <div class="mainText">
                    <p>
                        Obecne zamowienia <br/>
                    </p>
                    @Html.Raw(@ViewBag.table)
                    <a href="/supplyDeliveryRequest"><p>Zloz zamowienie</p></a>

                    <a href="/acceptDelivery"><p>Zaakceptuj wysylke</p></a>


                </div>
                <div id="map" style="width: 500px; height: 500px;">
                </div><br />
                <input type="text" id="nr_dostawy" value="0">
                <button id="myBtn">Pokaz trase</button>
            </div>
        </div>
    </section>
</main>
</body>